*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
#navigation{
    display: flex;
    background-color: white;
    height: 90px;
}
#navigation #logo img{
    padding: 0px 0px 0px 10px;
    width: 180px;
}
#navigation #Start{
    display: flex;
    padding: 20px;
}
#navigation #Start li{
    padding: 10px;
    font-size: 20px;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Start .items{
    text-decoration: none;
    list-style: none;
    color: black;
}
#Start .items:hover{
    color: green;
    cursor: pointer;
}
#navigation #Later{
    display: flex;
    padding: 20px 20px 20px 450px;
}
#navigation #Later li{
    padding: 8px;
    list-style: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Later .items{
    text-decoration: none;
    list-style: none;
    color: black;
}
#Later .items:hover{
    color: green;
    cursor: pointer;
}
#contact img{
    width: 40px;
    padding: 20px 10px;
}
#cover-page{
    display: flex;
    padding: 0px 20px 0px 10px;
    background-color: whitesmoke;
}
#cover-page #page-1{
    padding: 10px 0px 10px 75px;
}
#cover-page #toolbar-page1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1200px;
    width: 355px;
}
#cover-page #toolbar-page1 #tool-bar1,#ref-images,#short-links{
    padding: 15px 0px;
}
#cover-page #toolbar-page1 #tool-bar1{
    display: flex;
}
#cover-page #toolbar-page1 #tool-bar1 .tool{
    margin: 0px 15px 0px 0px;
}
#cover-page #toolbar-page1 #tool-bar1 #search-text{
    display: flex;
    align-items: center;
    color: black;
    background-color: white;
    width: 200px;
    height: 30px;
    border: solid;
    border-color: white;
    border-radius: 6px;
    font-size: 16px;
}
#cover-page #toolbar-page1 #tool-bar1 #search-text:hover{
    cursor: pointer;
}
#cover-page #toolbar-page1 #tool-bar1 #proceed{
    height: 36px;
    width: 35px;
    background-color: green;
    color: white;
    border-radius: 6px;
    border: none;
}
#cover-page #toolbar-page1 #tool-bar1 #proceed:hover{
    cursor: pointer;
    background-color:  #9abe9a;
}
#cover-page #toolbar-page1 #short-links{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 10px;
    width: 273px;
}
#cover-page #toolbar-page1 #short-links .link1{
    padding: 5px;
    text-decoration: none;
    color: black;
}
#cover-page #toolbar-page1 #short-links .link1:hover{
    color:  green;
}
#cover-page #toolbar-page1 #ref-images{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#cover-page #toolbar-page1 #ref-images .images{
    padding: 40px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}
#cover-page #toolbar-page1 #ref-images .images img{
    height: 200px;
    width: 200px;
    border-radius: 6px;
}
.vl {
    margin: 70px 0px;
    border-left: 0.2px solid black;
    height: 1500px;
  }
#cover-page #page-1{
    padding: 40px;
    display: flex;
    flex-direction: column;
}
#cover-page #page-1 #titles{
    margin: 10px 10px 10px 0px;
    color: green;
}
.titles1{
    padding: 10px;
}
#titles1{
    font-size: 50px;
}
#page-1 #results-description{
    display: flex;
}
#page-1 #results-description p{
    margin: 10px 450px 10px 10px;
}
#page-1 #results-description #search-text{
    display: flex;
    align-items: center;
    color: black;
    background-color: white;
    width: 200px;
    height: 30px;
    border: solid;
    border-color: white;
    border-radius: 6px;
    font-size: 16px;
}
#page-1 #rows-of-images{
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0px 0px;
}
#page-1 #rows-of-images .description-of-best-selling-projects{
    display: flex;
}
#page-1 #rows-of-images .description-of-best-selling-projects .product1,.product2,.product3{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#page-1 #rows-of-images .description-of-best-selling-projects .product1 img,.product2 img,.product3 img{
    border: none;
    border-radius: 6px;
}
#page-1 #rows-of-images .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page-1 #rows-of-images .description-cat1{
    margin: 4px;
}
#buttons{
    display: flex;
    margin: 10px;
}
#buttons .b1{
    margin: 0px 10px 0px 0px;
    height: 36px;
    width: 35px;
    background-color: green;
    color: black;
    border-radius: 6px;
    border: none;
}
#buttons .b2{
    margin: 0px 10px 0px 0px;
    height: 36px;
    width: 35px;
    background-color: white;
    color: black;
    border-radius: 6px;
    border: none;
}
#buttons .b2:hover{
    background-color: green;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
#bottom-page{
    display: flex;
    color: white;
    background-color: rgb(19, 3, 34);
    justify-content: center;
    align-items: center;
}
#bottom-page #conclusion-1{
    width: 1200px;
    padding: 20px;
    margin: 20px;
}
#bottom-page #conclusion-3{
    width: 1200px;
}
#bottom-page #conclusion-3 ul{
    list-style: none;
    text-decoration: none;
}
#bottom-page #conclusion-3 li:hover{
    color: green;
    cursor:pointer;
}
.c1-items{
    padding: 25px;
}
.c2-items{
    padding: 20px;
}